*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body,html{
 	width: 100vw;
 	height: 100vh;
 	overflow: hidden;
 	font-family: sans-serif;
}
h1{
   	color: #5CACFC;
   	text-align:center;
}
.board{
	width: 490px;
	height: 490px;
	position: relative;
  	margin: 0 auto;
  	top: 25px;
}
.row{
	width: 490px;
	height: 155px;
	display: flex;
	justify-content: space-between;
	background-color: white;
}
.column{
	width: 390px;
	height: 155px;
	background-color:#FC5CA5;
	border: 3px solid white;
	text-align: center;
	font-size: 8em;
	border-radius: 20%;
}
button{
	width: 100px;
	height: 40px;
	background-color: #FC5CA5;
	position: relative;
	top: 10px;
	left: 190px;
}
#results{
 width: 300px;
 height: 80px;
 background-color: #5CACFC;
 color: #ffffff;
 position: relative;
 bottom: 315px;
 left: 120px;
 font-size: 4rem;
 text-align: center;
 text-transform: uppercase;
 border:1px solid #fff;
}

